In [49]:
import pandas as pd
BOS_df1 = pd.read_excel('Bos_excel.xlsx', sheet_name=20, header=5)
BOS_df1 = BOS_df1.dropna()
BOS_df1['Narrative'] = BOS_df1['Description\nNarrative'].str.extract('(SECURITY .*)$',expand=True)
BOS_df1['Description'] = BOS_df1['Description\nNarrative'].str.extract('(.*)',expand=True)
BOS_df1['Description1'] = BOS_df1['Description\nNarrative'].str.extract('^.*(\n.*)',expand=True)
BOS_df1 = BOS_df1.replace({
    'Description1':'\n'
},'',regex=True)
BOS_df1 = BOS_df1.replace({
    'Description1':['SECURITY PURCHASE', 'SECURITY SALE']
},'')
BOS_df1['Description'] = BOS_df1['Description']+BOS_df1['Description1']
BOS_df1.drop(columns = ['Description\nNarrative', 'Description1'], inplace = True)
BOS_df1['Value Date'] = BOS_df1['Trade Date\nValue Date'].str.extract('.*\n(.*)$',expand=True)
BOS_df1['Trade Date'] = BOS_df1['Trade Date\nValue Date'].str.extract('(.*)',expand=True)
BOS_df1.drop(columns = ['Trade Date\nValue Date'], inplace = True)
BOS_df1 = BOS_df1.reindex(columns = ['Ccy','Description','Narrative','Quantity/Nominal','Reference Number','Trade Date','Value Date'])
BOS_df1['Trade Date'] = pd.to_datetime(BOS_df1['Trade Date']).dt.strftime('%m/%d/%Y')
BOS_df1['Value Date'] = pd.to_datetime(BOS_df1['Value Date']).dt.strftime('%d/%m/%Y')
BOS_Temp_df=BOS_df1.iloc[[2,4,5,10],[3]]
BOS_Temp_df['Quantity/Nominal']=BOS_Temp_df['Quantity/Nominal'].map(lambda x: x.lstrip('(').rstrip(')').replace(',' , ''))
BOS_df1 = pd.merge(BOS_Temp_df,BOS_df1, left_index=True, right_index=True, on='Quantity/Nominal', how='outer')
BOS_df1['Quantity/Nominal'] = pd.to_numeric(BOS_df1['Quantity/Nominal'], downcast = 'float')
BOS_df1 = BOS_df1.reindex(columns = ['Ccy','Description','Narrative','Quantity/Nominal','Reference Number','Trade Date','Value Date'])
BOS_df1

,Ccy,Description,Narrative,Quantity/Nominal,Reference Number,Trade Date,Value Date
0,USD,ADANI ABBOT PT 4.45 151222 JD REGS- 082537-000,SECURITY PURCHASE,60000.0,SCTRSC1804300277,02/09/2018,13/02/2018
1,USD,AFRICAN EXPORT-IMPORT 4 240521MN - 062769-000,SECURITY PURCHASE,120000.0,SCTRSC1804001529,02/09/2018,13/02/2018
2,HKD,BANK OF CHINA LTD-H (3988) -009189-000,SECURITY SALE,56000.0,SCTRSC1803101378,01/31/2018,02/02/2018
3,HKD,CHINA AMC CSI 300 INDEX ETF (3188) -039350-000,SECURITY PURCHASE,7600.0,SCTRSC1805100781,02/20/2018,22/02/2018
4,SGD,DBS GROUP HOLDINGS LTD (SGX) -000116-000,SECURITY SALE,1800.0,SCTRSC1805400664,02/22/2018,27/02/2018
5,HKD,ICBC - H (1398) - 010288-000,SECURITY SALE,40000.0,SCTRSC1803101353,01/31/2018,02/02/2018
6,JPY,MITSUI FUDOSAN CO LTD (8801) -004599-000,SECURITY PURCHASE,2000.0,SCTRSC1805001161,02/19/2018,22/02/2018
7,USD,RELIANCE INDUS 4.125 280125 JJ REGS- 053861-000,SECURITY PURCHASE,120000.0,SCTRSC1804001079,02/09/2018,13/02/2018
8,GBP,SHIRE PLC - 034229-000,SECURITY PURCHASE,380.0,SCTRSC1805200491,02/20/2018,22/02/2018
9,USD,SPDR S N P 500 ETF TRUST - 000428-000,SECURITY PURCHASE,189.0,SCTRSC1803801089,02/06/2018,08/02/2018
10,USD,THERMO FISHER SCIENTIFIC -010544-000,SECURITY SALE,113.0,SCTRSC1805200763,02/20/2018,22/02/2018

In [51]:
BOS_df2 = pd.read_excel('Bos_excel.xlsx', sheet_name=21,header=4,skip_footer=14)
BOS_df2 = BOS_df2.dropna(axis=1,how='all')
BOS_df2.fillna(value='', inplace=True)
BOS_df2.ix[0] = BOS_df2.ix[0]+BOS_df2.ix[1]
header = BOS_df2.iloc[0]
BOS_df2 = BOS_df2[1:]
BOS_df2 = BOS_df2.rename(columns = header)
BOS_df2['Quantity/Nominal']= BOS_df2['Quantity/Nominal'].map(lambda x: str(x))
BOS_df2.ix[2] = BOS_df2.ix[2]+'\n'+BOS_df2.ix[3]+'\n'+BOS_df2.ix[4]
BOS_df2.ix[5] = BOS_df2.ix[5]+'\n'+BOS_df2.ix[6]+'\n'+BOS_df2.ix[7]
BOS_df2.reset_index(drop=True,inplace=True)
BOS_df2.drop(BOS_df2.index[[0,2,3,5,6]],inplace=True)
BOS_df2.reset_index(drop=True,inplace=True)
BOS_df2.replace({
    'Ccy': '\n\n',
    'Quantity/Nominal': '\n\n',
    'Reference Number': '\n\n'
}, '', regex=True, inplace=True)
BOS_df2['Value Date'] = BOS_df2['Trade DateValue Date'].str.extract('.*\n+(.*)$',expand=True)
BOS_df2['Trade Date'] = BOS_df2['Trade DateValue Date'].str.extract('(.*)',expand=True)
BOS_df2['Narrative'] = BOS_df2['DescriptionNarrative'].str.extract('(SECURITY .*)$',expand=True)
BOS_df2['Description'] = BOS_df2['DescriptionNarrative'].str.extract('(.*)',expand=True)
BOS_df2['Description1'] = BOS_df2['DescriptionNarrative'].str.extract('^.*(\n.*)',expand=True)
BOS_df2 = BOS_df2.replace({
    'Description1':'\n'
},'',regex=True)
BOS_df2 = BOS_df2.replace({
    'Description1':['SECURITY PURCHASE', 'SECURITY SALE']
},'')
BOS_df2['Description'] = BOS_df2['Description']+BOS_df2['Description1']
BOS_df2.drop(columns = ['DescriptionNarrative', 'Description1', 'Trade DateValue Date'], inplace = True)
BOS_df3 = pd.concat([BOS_df1,BOS_df2], ignore_index=True)
BOS_df3

c:\users\ganesh\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.
c:\users\ganesh\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

,Ccy,Description,Narrative,Quantity/Nominal,Reference Number,Trade Date,Value Date
0,USD,ADANI ABBOT PT 4.45 151222 JD REGS- 082537-000,SECURITY PURCHASE,60000,SCTRSC1804300277,02/09/2018,13/02/2018
1,USD,AFRICAN EXPORT-IMPORT 4 240521MN - 062769-000,SECURITY PURCHASE,120000,SCTRSC1804001529,02/09/2018,13/02/2018
2,HKD,BANK OF CHINA LTD-H (3988) -009189-000,SECURITY SALE,56000,SCTRSC1803101378,01/31/2018,02/02/2018
3,HKD,CHINA AMC CSI 300 INDEX ETF (3188) -039350-000,SECURITY PURCHASE,7600,SCTRSC1805100781,02/20/2018,22/02/2018
4,SGD,DBS GROUP HOLDINGS LTD (SGX) -000116-000,SECURITY SALE,1800,SCTRSC1805400664,02/22/2018,27/02/2018
5,HKD,ICBC - H (1398) - 010288-000,SECURITY SALE,40000,SCTRSC1803101353,01/31/2018,02/02/2018
6,JPY,MITSUI FUDOSAN CO LTD (8801) -004599-000,SECURITY PURCHASE,2000,SCTRSC1805001161,02/19/2018,22/02/2018
7,USD,RELIANCE INDUS 4.125 280125 JJ REGS- 053861-000,SECURITY PURCHASE,120000,SCTRSC1804001079,02/09/2018,13/02/2018
8,GBP,SHIRE PLC - 034229-000,SECURITY PURCHASE,380,SCTRSC1805200491,02/20/2018,22/02/2018
9,USD,SPDR S N P 500 ETF TRUST - 000428-000,SECURITY PURCHASE,189,SCTRSC1803801089,02/06/2018,08/02/2018
10,USD,THERMO FISHER SCIENTIFIC -010544-000,SECURITY SALE,113,SCTRSC1805200763,02/20/2018,22/02/2018
11,USD,UNION BK OF PHILIPP 3.369 291122 MN- 082163-000,SECURITY PURCHASE,120000,SCTRSC1804300269,09 Feb 2018,13 Feb 2018
12,SGD,UNITED OVERSEAS BANK LTD -000537-000,SECURITY PURCHASE,2400,SCTRSC1805400521,22 Feb 2018,27 Feb 2018